---
import '@styles/global.css';
import {getCollection} from "astro:content";
import Footer from "../../components/footer.astro";
import Header from "../../components/header.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection('blog');
---
<script defer>
  import {navigate} from 'astro:transitions/client';

  document.getElementById('post-list')?.addEventListener('click', (e) => {
    const el = e.target.closest('.post-card');
    if (el?.dataset?.slug) {
      navigate(`/blog/${el.dataset.slug}`);
    }else{
      console.log('anashe');
    }
  });
</script>
<Layout>
<div class="w-screen h-screen flex flex-col">
  <Header/>
  <div class="flex flex-grow">
    <div class="w-full h-full flex flex-col items-center p-8">
      <div  id="post-list" class="flex flex-col gap-4">
        {allPosts.map((post) => (
                <div
                     class="cursor-pointer p-2 rounded-xl border border-stone-200 shadow-sm shadow-stone-200/50 flex flex-col gap-2 duration-200 hover:shadow-lg hover:border-blue-500">
                  <div class="flex flex-row justify-between">
                    <h2 class="font-inter text-stone-900 font-bold underline"><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
                    <p class="text-stone-500 font-mono px-1 border border-stone-200 rounded-md">{post.data.lastModified}</p>
                  </div>
                  <div class="flex flex-row gap-2">
                    {
                      post.data.tags?.map((t) => {
                        return (
                                <p class="font-inter text-sm py-0.5 px-2 border border-blue-700/10 rounded-md text-stone-50 bg-blue-500/50 shadow-sm">#{t}</p>
                        )
                      })
                    }
                  </div>
                  <p class="text-stone-500 text-sm">{post.data.description}</p>
                </div>
        ))}
      </div>
    </div>
  </div>
  <Footer/>
</div>
</Layout>