---
import BadgeTag from "../badge/BadgeTag.astro";
import BadgeWip from "../badge/BadgeWip.astro";
import CardBase from "./CardBase.astro";

interface Props {
  post: any
}

const {post} = Astro.props
---
<!--<script defer>
  import {navigate} from 'astro:transitions/client';

  document.getElementById('post-list')?.addEventListener('click', (e) => {
    const el = e.target.closest('.post-card');
    if (el?.dataset?.slug) {
      navigate(`/blog/${el.dataset.slug}`);
    }else{
      console.log('_t');
    }
  });
</script>-->

<CardBase>
  <div class="flex flex-row justify-between">
    <h2 class="font-inter text-stone-900 font-bold underline"><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
    <div class="flex gap-1">
      {post.data.draft && <BadgeWip/>}
      <p class="text-stone-500 font-mono px-1 border border-stone-200 rounded-md">{post.data.lastModified}</p>
    </div>
  </div>
  <div class="flex flex-row gap-2">
    {
      post.data.tags?.map((t) => {
        return (
                <BadgeTag content={t}/>
        )
      })
    }
  </div>
  <p class="text-stone-500 text-sm">{post.data.description}</p>
</CardBase>