---
import '@styles/global.css';
import '@styles/utilites.css';

const {
  title = "Ignacio Fernández | Software Engineer & Designer",
  description = "I’m Ignacio, a fullstack developer focused on shipping performant, maintainable software that solves real business problems and enhances user experience with clean, efficient interfaces.",
  canonical = "https://ignfer.com/home",
  image = "https://ignfer.com/og-banner-1200-630.png",
} = Astro.props;
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />

  <link rel="canonical" href={canonical} />
  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={canonical} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  <script type="module">
    import '@assets/scripts/lenis-smooth-scroll';
    import '@assets/scripts/shortcuts';
  </script>
</head>
<body class="h-screen flex flex-col">
<slot />
</body>
</html>
